# Core Airflow packages
apache-airflow==2.9.3
apache-airflow-providers-mysql
apache-airflow-providers-mongo
apache-airflow-providers-amazon
apache-airflow-providers-elasticsearch

# ETL and data handling
pandas
numpy
requests
sqlalchemy
pymysql
pymongo
elasticsearch

# AWS / LocalStack interaction
boto3
localstack-client

# Utils
python-dotenv
pyyaml
